<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "suite1">
<test name = "NewTest"  parallel="methods" thread-count = "4" >
<groups>
<run>
<include name ="Smoke">
</include>
</run>
</groups>>
<classes>
<class name = "TestNg.test5_parallelTesting">
</class>
</classes>
</test>
</suite>
